import { $t, locale, emitter } from "@/locales";
import { generateId } from "@/utils";

export interface Input {
  id?: string;
  values?: Record<string, any>;
  msg?: string;
  as?: string;
}

<let/currentLocale=locale>
<const/Tag=input.as || "span">
<const/id=input.id || generateId(input.msg)>

<script>
  emitter.on("localeChange", ({ lang }) => {
    currentLocale = lang;
  });
</script>

<${Tag}>${$t(currentLocale, id, input.values, input.msg)}</>
